@use 'styles/common/color' as color;
@use 'styles/common/mixin' as mixin;

header {
  position: fixed;
  // position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  background: rgba(255, 255, 255, 0.60);
  backdrop-filter: blur(20px);
  padding: 15px 60px;
  z-index: 100;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
    svg {
      width: 2.5rem;
      height: 2.5rem;      
    }

    p {
      @include mixin.main-font(2.5rem, 900, normal, color.$logo-color);
      line-height: 1;
      letter-spacing: -0.6px;
      transition: all 0.2s ease-in-out;
    }
  }
}

#menu {
  display: flex;

  .menu__icon {
    display: none;
    width: 2.5rem;
    height: 2.5rem;
  }

  .menu__list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    transition: all 0.2s ease-in-out;

    .menu__item {
      @include mixin.main-font(1.25rem, 400, normal, color.$button-color);
      line-height: 1;
      letter-spacing: -0.6px;
      border: 2px solid color.$button-color;
      border-radius: 100px;
      background-color: color.$background-color;
      padding: 9px 30px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        color: color.$background-color;
        background-color: color.$button-color;
      }
    }
  }
  
  .menu__list::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    width: 100%;
    height: 2px;
    background-color: color.$button-color;
    z-index: -1;
  }
}

@media all and (max-width: 1200px) {
  #menu {
    .menu__list {
      gap: 15px;
    }
  }
}

@media all and (max-width: 1024px) {
  header {
    height: auto;
    padding: 15px;
  }

  #menu {
    .menu__list {
      display: none;
    }

    .menu__icon {
      display: block;
    }
  }
}