@font-face {
  font-family: "SUIT";
  font-weight: 100;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Thin.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Thin.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Thin.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Thin.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Thin.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 200;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraLight.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Regular.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 600;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 800;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  font-weight: 900;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Heavy.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Heavy.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Heavy.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Heavy.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Heavy.ttf") format("truetype");
  font-display: swap;
}
@-webkit-keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat Variable", "SUIT", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #ffffff;
  background-color: #0c0c0c;
  background-image: url("assets/background_black.jpg");
  background-attachment: fixed;
}

ol,
ul,
li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button {
  color: #ffffff;
  border: none;
  background-color: transparent;
  -webkit-appearance: button;
  cursor: pointer;
}

button.join {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
}
button.join i {
  margin-left: 4px;
}

.wrap {
  position: relative;
  width: 90%;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.header-content {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  z-index: 10;
}
.header-content .logo a {
  display: flex;
  align-items: center;
}
.header-content .logo a p {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 0 10px;
}
.header-content button.join {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 30px;
  background-color: #13ca91;
  padding: 0 20px;
}
.header-content .menu {
  cursor: pointer;
}
.header-content .menu i {
  font-size: 26px;
  color: aquamarine;
}

.nav-content {
  position: absolute;
  left: 0;
  display: flex;
  height: 100%;
  align-items: center;
}
.nav-content::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 2px;
  height: 70%;
  max-height: 750px;
  background-color: #555555;
  opacity: 0.35;
}
.nav-content ul {
  z-index: 10;
}

.main-content {
  height: 100%;
}
.main-content ul {
  width: 100%;
  height: 100%;
}
.main-content li {
  width: 100%;
  height: 100%;
}
.main-content .intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  max-width: 75%;
  height: 100%;
  margin: 0 auto;
}
.main-content .intro-banner {
  position: relative;
  height: 475px;
}
.main-content .intro-banner::before {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 0;
  left: -15px;
  height: 2px;
  background-color: #282828;
}
.main-content .intro-banner h1 {
  position: relative;
  max-width: 480px;
  font-size: 68px;
  font-weight: 900;
  line-height: 1;
  word-break: keep-all;
  margin-bottom: 30px;
  z-index: 1;
}
.main-content .intro-banner p {
  max-width: 320px;
  font-size: 16px;
  font-weight: 500;
  word-break: keep-all;
  margin-bottom: 2em;
}
.main-content .intro-banner button.join {
  position: relative;
  padding: 5px 17px 5px 12px;
}
.main-content .intro-banner button.join .background {
  position: absolute;
  top: 0;
  left: 23px;
  right: 0;
  height: 100%;
  background-color: #13ca91;
  transition: left 0.2s ease-in-out;
  z-index: -1;
}
.main-content .intro-banner button.join:hover .background {
  left: 0;
}
.main-content .intro-banner img {
  position: absolute;
  bottom: 21px;
  right: -12px;
}