@use 'styles/common/color' as color;
@use 'styles/common/mixin' as mixin;

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: calc(var(--vh, 1vh) * 100);
  letter-spacing: -0.6px;
  background-color: color.$background-color;
  // background: rgba(255, 255, 255, 0.60);
  z-index: 100;
  backdrop-filter: blur(20px);
  
  .menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid color.$main-color;
    padding: 15px;
    
    h2 {
      @include mixin.main-font(1.25rem, 900, normal, color.$main-color);
      font-size: 2.5rem;
      line-height: 1;
    }

    button {
      padding: 4px;

      svg {
        display: flex;
      }
    }
  }

  .menu__container {
    padding: 15px;
    
    .menu__item {
      position: relative;
      @include mixin.main-font(1.75rem, 400, normal, color.$main-color);
      line-height: 1;
      border-radius: 12px;
      padding: 18px 0;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      span {
        &:before, &:after {
          content: '';
          position: absolute;
          width: 0%;
          height: 2px;
          bottom: -2px;
          margin-top: -0.5px;
          background: black;
        }
      
        &:before {
          left: -2.5px;
        }
      
        &:after {
          right: 2.5px;
          background: black;
          transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
        }
      
        &:hover {
          &:before {
            background: black;
            width: 100%;
            transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
          }
      
          &:after {
            background: transparent;
            width: 100%;
            transition: 0s;
          }
        }
      }
    }
  }
}