@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

figure {
  display: flex;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: var(--color-black);
}

a {
  text-decoration: none;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}