* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: 'Montserrat Variable', 'SUIT', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: $white;

  background-color: $background-color;
  background-image: url('assets/background-black.jpg');
  background-attachment: fixed;
}

ol,
ul,
li {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;
}

button {
  color: $white;
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  &.join {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6;
    z-index: 1;

    i {
      font-size: 18px;
      margin-left: 4px;
    }
  }
}

input {
  color: inherit;
  font-size: inherit;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.viewport {
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  position: relative;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.85);
  overflow: hidden;
}

.wrap {
  position: relative;
  width: 90%;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
