.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: rgba($color: $white, $alpha: 0.6);
  text-align: center;
  margin-bottom: 10px;
  z-index: 10;
}

@media (max-width: 600px) {
  .footer {
    font-size: 12px;
  }
}
