.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  z-index: 20;

  h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 20px;
  }
}

.work-lockup {
  width: 100%;

  .swiper {
    width: 100%;
    padding: 100px 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: $gray-2;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
  }

  .swiper-button-prev {
    left: 0;

    &::after {
      content: '\ea60';
      display: block;
      font-family: remixicon !important;
      font-size: 24px;
      color: $white;
    }
  }

  .swiper-button-next {
    right: 0;

    &::after {
      content: '\ea6c';
      display: block;
      font-family: remixicon !important;
      font-size: 24px;
      color: $white;
    }
  }

  a {
    display: block;

    &:hover .text-wrap h5::after {
      -webkit-transform-origin: 0 50%;
      -moz-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      transform: scaleX(1);
    }
  }

  .image-wrap {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    overflow: hidden;

    &:hover img {
      filter: grayscale(0);
      transform: scale(1.01);
    }

    img {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(1);
      transition: all 0.2s ease-in-out;
    }
  }

  .text-wrap {
    h5 {
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.6rem;
      margin-top: 0;
      margin-bottom: 0.5rem;

      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        height: 1px;
        width: 100%;
        background-color: currentColor;
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform 0.4s cubic-bezier(0, 0.275, 0.125, 1);
      }
    }

    p {
      font-size: 12px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 1024px) {
  .work-lockup {
    .swiper-button-prev,
    .swiper-button-next {
      top: 3rem;
      transform: unset;
    }
  }
}

@media (max-width: 900px) {
  .work-lockup {
    .slider-item {
      &.center {
        .image {
          width: 240px;
          height: 240px;
        }
      }

      .image {
        width: 120px;
        height: 120px;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      top: 2rem;
      transform: unset;
    }
  }
}

@media (max-width: 767px) {
  .work-lockup {
    .slider {
      width: 75%;
    }

    .slider-item {
      &.center {
        .image {
          width: 190px;
          height: 190px;
        }
      }

      .image {
        width: 90px;
        height: 90px;
      }
    }
  }
}

@media (max-width: 600px) {
  .work-lockup {
    .slider {
      width: auto;
    }

    .slider-item {
      &.left,
      &.right {
        display: none;
      }
    }
  }
}
