@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

// @keyframes을 사용하는 mixin 설정
@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}

// keyframes
@mixin float-keyframes($name, $start, $end) {
  @include keyframes($name) {
    0%,
    100% {
      top: #{$start};
    }
    50% {
      top: #{$end};
    }
  }
}

@include keyframes(fade-in-out) {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@include keyframes(fade-in) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@include keyframes(fade-out) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframes(mix) {
  30% {
    box-shadow: 0 -1em 2em 3em rgba(255, 0, 200, 0.5), 4em -1em 2em 3em rgba(255, 50, 0, 0.8),
      -4em 2em 3em 2em rgba(155, 200, 0, 0.5), -4em -2em 2em 2em rgba(200, 0, 150, 0.6),
      0 3em 2em 2em rgba(20, 250, 0, 0.5), 2em 1em 2em 2em rgba(50, 10, 250, 0.5);
  }

  60% {
    box-shadow: 2em 1em 2em 3em rgba(55, 0, 200, 0.5), 3em 1em 2em 3em rgba(25, 150, 0, 0.6),
      3em -2em 3em 3em rgba(155, 200, 0, 0.5), -4em 2em 2em 3em rgba(200, 0, 50, 0.6),
      0 -3em 2em 3em rgba(200, 250, 0, 0.5), -2em 1em 2em 3em rgba(50, 210, 250, 0.6);
  }
}
